<div *ngIf="!restaurantData;">
</div>
<div *ngIf="restaurantData">
  <div class="list-block">
    <div class="list-item hover" *ngFor="let restaurant of restaurantData" 
      [style.background-image]="sanitizeImage('linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 25%), url(' + restaurant.backgroundImageURL + ')')"
      (click)="selectRestaurantOnClick(restaurant);">
      <div class="shader-back">
        <div class="company-info">
          <div class="company-title">{{ restaurant.name }}</div>
          <div class="category-type">{{ restaurant.category }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-restaurant-detail-cmp [restaurantData]="currentlySelectedRestaurant" 
  (detailDisplayOpenStatusEmitter)="changeOverlayStatus($event)"
  (clearParentDataEmitter)="clearSelectedRestaurant()">
</app-restaurant-detail-cmp>
